<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css}" />
	<meta charset="ISO-8859-1">
	<title>Dettagli Foto</title>
</head>

<body>
	<div class="container">
		<h1 class="py-3" th:text="${photo.titolo}">Titolo della foto</h1>
		<div style="width: 500px; height: 500px;">
			<img class="card-img-top" th:src="${photo.url}" th:alt="${photo.titolo}"
				style="width: 100%; height: 100%;object-fit: cover;" />
			<div class="card-body">
				<p class="card-text py-3"><strong>Descrizione:</strong> <span th:text="${photo.descrizione}"></span></p>
				<p class="card-text py-3"> <strong>Visibile: </strong> <span th:text="${photo.visibile ? 'Sì' : 'No'}"></span></p>
				<p class="card-text py-3">
				    <strong>Categorie:</strong> 
				    <span th:each="category, iterStat : ${photo.categories}" th:remove="tag">
				        <span th:text="${category.name}"></span><th:block th:if="${!iterStat.last}"> - </th:block>
				    </span>
				</p>
			</div>
		</div>
	</div>

	<script th:src="@{/webjars/bootstrap/5.3.2/js/bootstrap.bundle.min.js}"></script>
</body>

</html>